.display-container {
    height: 100%;
    max-width: 1024px;
    min-width: 360px;
}

.films-container {
    width: auto;
    height: auto;
    min-height: 70px;
    margin: 40px 12px 0 12px;

    background-color: #1f2126;
    border-radius: 50px;
}

.on-screen-container {
    height: 5%;
    display: flex;
    justify-content: center;
    text-align: center;

    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 5px;
}

.on-screen-container__text {
    width: 100px;
    display: inline-block;
    margin: auto 5px auto 0;
    padding-top: 4px;

    font-family: 'Gugi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #fafafa;
}

.on-screen-container__icon {
    width: 25px;
    display: inline-block;
    margin: auto 0 auto 0;
    padding-top: 4px;

    font-family: 'Gugi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.film-list-container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.film-holder {
    width: 220px;
    height: 360px;
    line-height: 20px;
    margin: 20px auto 10px;
    vertical-align: top;
}

.film-holder__image {
    width: inherit;
    height: 320px;

    background-color: #999999;
}

.film-holder__title {
    width: inherit;
    height: 40px;
    margin-top: 5px;

    font-family: 'Domine', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;

    color: #fafafa;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.see-more-container {
    height: 50px;
    text-align: center;

    border-top-style: solid;
    border-top-color: #121212;
    border-top-width: 5px;
}

.see-more-container__action {
    width: 100px;
    height: 50px;
    margin: 0 60px 0 auto;
    display: flex;

    line-height: 14px;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;
    font-family: 'Domine', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;

    color: #fafafa;
}

.offers-container {
    width: auto;
    height: auto;
    min-height: 70px;
    margin: 40px 12px 0 12px;

    background-color: #1f2126;
    border-radius: 50px;

    justify-content: center;
    text-align: center;
}

.offers-header-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

    text-align: center;

    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 5px;
}

.offers-header-container__text {
    width: 150px;
    display: inline-block;
    margin: auto 5px auto 0;
    padding-top: 4px;

    font-family: 'Gugi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #fafafa;
}

.offers-header-container__icon {
    height: 20px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;

    font-family: 'Gugi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.offer-list-container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.offer-holder {
    width: 240px;
    height: 240px;
    margin: 20px auto 20px;
    line-height: 20px;
    position: relative;

    background: #c4c4c4;
    border-radius: 5px;
}

.offer-holder__text {
    width: 220px;
    position: absolute;
    left: 50%;
    top: 90%;
    padding: 0 10px 10px 10px;
    transform:translate(-50%,-50%);

    font-family: 'Domine', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #fafafa;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.8);
}